In [1]:
import pandas as pd

In [3]:
people = pd.read_csv('blood data/월별 인구 통계.csv', encoding = 'CP949')

In [9]:
people2 = people.drop(columns='단위')

In [14]:
people3 = people2.iloc[4].reset_index()

In [28]:
people4 = people3.drop(index=[0,1,2, 160])

In [29]:
people4.columns= ['날짜','인구 증감']
people4

             날짜  인구 증감
3    2008. 01 월  24902
4    2008. 02 월  18439
5    2008. 03 월  18709
6    2008. 04 월  18524
7    2008. 05 월  17281
..          ...    ...
155  2020. 09 월   -882
156  2020. 10 월  -4637
157  2020. 11 월  -5578
158  2020. 12 월  -7323
159  2021. 01 월  -2177

[157 rows x 2 columns]

In [44]:
people4.to_csv('월별 인구 증감.csv', encoding='CP949')

In [31]:
people

,행정구역별,종류별,항목,단위,2008. 01 월,2008. 02 월,2008. 03 월,2008. 04 월,2008. 05 월,2008. 06 월,...,2020. 05 월,2020. 06 월,2020. 07 월,2020. 08 월,2020. 09 월,2020. 10 월,2020. 11 월,2020. 12 월,2021. 01 월,Unnamed: 161
0,전국,출생아수(명),"출생,사망,혼인,이혼",NaN,46747,39495,41318,38783,37598,35035,...,22861.0,22121.0,23016.0,22420.0,23519.0,21879.0,20044.0,19576.0,25003.0,NaN
1,전국,조출생률(천명당),"출생,사망,혼인,이혼",NaN,11.2,10.11,9.89,9.59,8.99,8.66,...,5.3,5.3,5.3,5.2,5.6,5.0,4.8,4.5,5.7,NaN
2,전국,사망자수(명),"출생,사망,혼인,이혼",NaN,21845,21056,22609,20259,20317,18801,...,24344.0,23652.0,24013.0,25305.0,24401.0,26517.0,25622.0,26899.0,27181.0,NaN
3,전국,조사망률(천명당),"출생,사망,혼인,이혼",NaN,5.2,5.4,5.4,5,4.9,4.6,...,5.6,5.6,5.5,5.8,5.8,6.1,6.1,6.2,6.2,NaN
4,전국,자연증가건수(명),"출생,사망,혼인,이혼",NaN,24902,18439,18709,18524,17281,16234,...,-1483.0,-1531.0,-997.0,-2885.0,-882.0,-4637.0,-5578.0,-7323.0,-2177.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,제주특별자치도,자연증가율(천명당),"출생,사망,혼인,이혼",NaN,6.1,4.4,5.3,4.5,4.1,4.6,...,0.3,0.8,1.0,0.3,0.1,-0.8,-1.2,-0.6,0.4,NaN
176,제주특별자치도,혼인건수(건),"출생,사망,혼인,이혼",NaN,315,295,324,309,322,273,...,283.0,222.0,206.0,220.0,216.0,205.0,226.0,304.0,233.0,NaN
177,제주특별자치도,조혼인율(천명당),"출생,사망,혼인,이혼",NaN,6.7,6.7,6.8,6.7,6.8,6,...,5.0,4.1,3.7,3.9,3.9,3.6,4.1,5.4,4.1,NaN
178,제주특별자치도,이혼건수(건),"출생,사망,혼인,이혼",NaN,125,115,105,130,112,96,...,128.0,148.0,175.0,133.0,137.0,152.0,156.0,160.0,114.0,NaN
179,제주특별자치도,조이혼율(천명당),"출생,사망,혼인,이혼",NaN,2.6,2.6,2.2,2.8,2.4,2.1,...,2.3,2.7,3.1,2.4,2.5,2.7,2.8,2.8,2.0,NaN

In [32]:
people2 = people.drop(columns='단위')

In [39]:
people3 = people2[people2['종류별'].str.contains('자연증가건수')]
people4 = people3.drop(columns= ['종류별','항목'])
people5 = people4.set_index('행정구역별')
people5

,2008. 01 월,2008. 02 월,2008. 03 월,2008. 04 월,2008. 05 월,2008. 06 월,2008. 07 월,2008. 08 월,2008. 09 월,2008. 10 월,...,2020. 05 월,2020. 06 월,2020. 07 월,2020. 08 월,2020. 09 월,2020. 10 월,2020. 11 월,2020. 12 월,2021. 01 월,Unnamed: 161
행정구역별,,,,,,,,,,,,,,,,,,,,,
전국,24902,18439,18709,18524,17281,16234,18775,18473,21356,18449,...,-1483.0,-1531.0,-997.0,-2885.0,-882.0,-4637.0,-5578.0,-7323.0,-2177.0,NaN
서울특별시,6240,4945,5002,4740,4495,4292,4627,4585,5174,4763,...,325.0,412.0,336.0,193.0,396.0,-185.0,-358.0,-584.0,340.0,NaN
부산광역시,898,523,620,657,481,398,672,768,743,637,...,-526.0,-548.0,-570.0,-685.0,-470.0,-783.0,-879.0,-991.0,-743.0,NaN
대구광역시,1033,743,737,799,690,717,798,749,842,809,...,-152.0,-134.0,-156.0,-306.0,-175.0,-284.0,-415.0,-507.0,-283.0,NaN
인천광역시,1388,1086,1316,1217,1129,1046,1171,1174,1270,1189,...,111.0,34.0,153.0,6.0,86.0,-123.0,-93.0,-221.0,65.0,NaN
광주광역시,925,700,624,653,586,602,710,721,638,630,...,-10.0,-21.0,4.0,-65.0,33.0,-120.0,-134.0,-134.0,64.0,NaN
대전광역시,1039,682,684,761,732,664,662,836,834,697,...,55.0,24.0,-49.0,-26.0,31.0,-85.0,-36.0,-117.0,35.0,NaN
울산광역시,685,578,637,623,556,578,624,555,678,660,...,92.0,74.0,172.0,120.0,135.0,80.0,-1.0,9.0,75.0,NaN
세종특별자치시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,146.0,170.0,184.0,185.0,136.0,172.0,147.0,130.0,237.0,NaN
경기도,8135,6604,6471,6244,6063,5568,6299,6106,7079,6330,...,1527.0,1362.0,1630.0,1266.0,1748.0,916.0,406.0,204.0,1483.0,NaN
강원도,361,185,160,70,101,136,220,142,199,153,...,-353.0,-269.0,-317.0,-429.0,-300.0,-375.0,-429.0,-487.0,-324.0,NaN
충청북도,530,356,371,314,297,363,427,368,488,304,...,-198.0,-204.0,-212.0,-173.0,-189.0,-308.0,-381.0,-400.0,-241.0,NaN
충청남도,743,534,467,501,564,435,473,544,659,478,...,-243.0,-225.0,-275.0,-389.0,-247.0,-507.0,-456.0,-629.0,-385.0,NaN
전라북도,525,166,142,273,233,83,248,282,412,185,...,-476.0,-552.0,-447.0,-525.0,-507.0,-680.0,-573.0,-644.0,-574.0,NaN
전라남도,304,-22,-56,15,-56,3,160,148,229,-114,...,-617.0,-551.0,-464.0,-564.0,-596.0,-765.0,-685.0,-899.0,-682.0,NaN
경상북도,545,277,358,356,258,286,390,296,473,378,...,-754.0,-753.0,-639.0,-906.0,-652.0,-831.0,-967.0,-1156.0,-737.0,NaN
경상남도,1262,885,926,1097,959,850,1031,962,1349,1086,...,-431.0,-397.0,-401.0,-602.0,-315.0,-716.0,-660.0,-861.0,-528.0,NaN
제주특별자치도,289,197,250,204,193,213,263,237,289,264,...,19.0,45.0,54.0,15.0,5.0,-45.0,-63.0,-35.0,21.0,NaN

In [43]:
people5.to_csv('지역별 인구 증감.csv', encoding= 'CP949')

In [42]:
people5

,2008. 01 월,2008. 02 월,2008. 03 월,2008. 04 월,2008. 05 월,2008. 06 월,2008. 07 월,2008. 08 월,2008. 09 월,2008. 10 월,...,2020. 05 월,2020. 06 월,2020. 07 월,2020. 08 월,2020. 09 월,2020. 10 월,2020. 11 월,2020. 12 월,2021. 01 월,Unnamed: 161
행정구역별,,,,,,,,,,,,,,,,,,,,,
전국,24902,18439,18709,18524,17281,16234,18775,18473,21356,18449,...,-1483.0,-1531.0,-997.0,-2885.0,-882.0,-4637.0,-5578.0,-7323.0,-2177.0,NaN
서울특별시,6240,4945,5002,4740,4495,4292,4627,4585,5174,4763,...,325.0,412.0,336.0,193.0,396.0,-185.0,-358.0,-584.0,340.0,NaN
부산광역시,898,523,620,657,481,398,672,768,743,637,...,-526.0,-548.0,-570.0,-685.0,-470.0,-783.0,-879.0,-991.0,-743.0,NaN
대구광역시,1033,743,737,799,690,717,798,749,842,809,...,-152.0,-134.0,-156.0,-306.0,-175.0,-284.0,-415.0,-507.0,-283.0,NaN
인천광역시,1388,1086,1316,1217,1129,1046,1171,1174,1270,1189,...,111.0,34.0,153.0,6.0,86.0,-123.0,-93.0,-221.0,65.0,NaN
광주광역시,925,700,624,653,586,602,710,721,638,630,...,-10.0,-21.0,4.0,-65.0,33.0,-120.0,-134.0,-134.0,64.0,NaN
대전광역시,1039,682,684,761,732,664,662,836,834,697,...,55.0,24.0,-49.0,-26.0,31.0,-85.0,-36.0,-117.0,35.0,NaN
울산광역시,685,578,637,623,556,578,624,555,678,660,...,92.0,74.0,172.0,120.0,135.0,80.0,-1.0,9.0,75.0,NaN
세종특별자치시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,146.0,170.0,184.0,185.0,136.0,172.0,147.0,130.0,237.0,NaN
경기도,8135,6604,6471,6244,6063,5568,6299,6106,7079,6330,...,1527.0,1362.0,1630.0,1266.0,1748.0,916.0,406.0,204.0,1483.0,NaN
강원도,361,185,160,70,101,136,220,142,199,153,...,-353.0,-269.0,-317.0,-429.0,-300.0,-375.0,-429.0,-487.0,-324.0,NaN
충청북도,530,356,371,314,297,363,427,368,488,304,...,-198.0,-204.0,-212.0,-173.0,-189.0,-308.0,-381.0,-400.0,-241.0,NaN
충청남도,743,534,467,501,564,435,473,544,659,478,...,-243.0,-225.0,-275.0,-389.0,-247.0,-507.0,-456.0,-629.0,-385.0,NaN
전라북도,525,166,142,273,233,83,248,282,412,185,...,-476.0,-552.0,-447.0,-525.0,-507.0,-680.0,-573.0,-644.0,-574.0,NaN
전라남도,304,-22,-56,15,-56,3,160,148,229,-114,...,-617.0,-551.0,-464.0,-564.0,-596.0,-765.0,-685.0,-899.0,-682.0,NaN
경상북도,545,277,358,356,258,286,390,296,473,378,...,-754.0,-753.0,-639.0,-906.0,-652.0,-831.0,-967.0,-1156.0,-737.0,NaN
경상남도,1262,885,926,1097,959,850,1031,962,1349,1086,...,-431.0,-397.0,-401.0,-602.0,-315.0,-716.0,-660.0,-861.0,-528.0,NaN
제주특별자치도,289,197,250,204,193,213,263,237,289,264,...,19.0,45.0,54.0,15.0,5.0,-45.0,-63.0,-35.0,21.0,NaN