In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pandas_datareader import data
import datetime
import seaborn as sns
# 그래프 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['font.size'] = 16
plt.rcParams['figure.figsize'] = 20, 10
plt.rcParams['axes.unicode_minus'] = False

In [3]:
blood = pd.read_csv('blood data/수혈용_혈액_보유_추이_2005_2019.csv', encoding = 'cp949')
blood

,일별(1),2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,01월 01일,33341,26062,11363,8862,20417,33305,31926,19281,25113,35427,28690,13209,21740,27867,21323
1,01월 02일,32910,24630,10632,9119,19210,33091,33443,17530,24078,34968,27093,13928,19560,26972,20525
2,01월 03일,31669,22738,10229,9306,19518,33855,31274,16078,23338,34232,29394,13929,17597,25812,18684
3,01월 04일,33033,21094,9733,9685,21317,30511,29697,14548,21868,36695,30111,12771,17335,25020,17161
4,01월 05일,32854,19602,9887,9427,19507,29003,27784,14189,23722,38060,28500,10735,17715,23229,18409
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,12월 27일,22158,14308,12587,24481,40527,37347,21993,26494,35140,32753,16756,22158,27001,21502,21241
362,12월 28일,22847,13868,12214,26008,40249,36778,21768,25096,37687,33668,16730,22847,27831,19749,23796
363,12월 29일,23275,11740,11068,25071,39615,36078,19819,26969,39385,32668,16122,23275,25949,21995,25041
364,12월 30일,22189,12798,10672,23111,37682,36077,18131,28205,36793,31655,15240,22189,28244,23353,25259
365,12월 31일,23315,12180,10243,21084,34085,32697,19935,25835,36771,29778,14491,23315,29648,23026,23941